<%= form_for @question do |f| %>
  <td>
    <%= f.text_field :pri, :required => true  %>
  </td>
  <td>
    <%= f.text_field :question, :required => true %>
  </td>
  <td>
    <%= f.text_field :teaming_stages, :required => true %>
  </td>
  <td>
    <%= f.text_field :appears_day, :required => true%>
  </td>
  <td>
    <%= f.text_field :frequency, :required => true%>
  </td>
  <td>
    <%= f.text_field :question_type, :required => true%>
  </td>
  <td>
    <%= f.text_field :required?, :required => true%>
  </td>
  <td>
    <%= f.text_field :conditions, :required => true%>
  </td>
  <td>
    <%= f.select :mapping_id, options_for_select(Mapping.all.collect{|p| [p.name , p.id]}, f.object.mapping_id), :class => 'genForm_dropBox' %>
  </td>  
  <td>
    <%if @question.id.blank?%>
      <%= f.submit nil, id: "update-form" %>
    <% else %>
      <%= f.submit nil, id: "update-form" %>
    <% end %>
  </td>
<% end %>
