<table class="table table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Pri</th>
      <th scope="col">Question</th>
      <th scope="col">Teaming Stages</th>
      <th scope="col">Appears (Day)</th>
      <th scope="col">Frequency</th>
      <th scope="col">Type</th>
      <th scope="col">Required?</th>
      <th scope="col">Conditions</th>
      <th scope="col">Mapping</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each_with_index do |question,index| %>
      <tr id="question_<%=question.id %>" data-index="<%= index %>">
        <%= render partial: "question", locals: { question: question, index: index } %>
      </tr>
    <% end %>
      <% if current_user.has_role? :admin %>
        <%= render "form" %>
      <% end %>
  </tbody>
</table>
<%= will_paginate @questions %>

<script>
  $(document).on('click', "#update-form", function(){
    form_data = $(this).parents('tr').find(':input').serialize();
    url = $(this).parents('tr').find('form').attr('action');
    $.ajax({
      data: form_data,
      url: url,
      type: "PATCH"
    })
  })
</script>
